streamlit
streamlit_extras
streamlit_option_menu
streamlit-lottie
streamlit_marquee
st_click_detector
fire_state
pandas
numpy
matplotlib
seaborn
altair
plotly
statsmodels
scikit-learn
prophet==1.1.2
pywavelets
openpyxl
holidays==0.24
optuna
