# Streamlit and Add-Ons
streamlit
streamlit_extras
streamlit_option_menu
streamlit-lottie
streamlit_marquee
st_click_detector
fire_state

# Data Manipulation and Visualization
pandas
numpy
matplotlib
seaborn
altair
plotly

# Statistical Analysis
statsmodels
scikit-learn

# Time Series and Forecasting
prophet==1.1.2

# Signal Processing
pywavelets

# Excel Manipulation
openpyxl

# Date and Time Utilities
holidays==0.24

# Hyperparameter Optimization
optuna

# Mathematical Computation
sympy